@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400&display=swap&subset=cyrillic');
@import "reset.css";




body {
  margin: 0;
}



/* Title stuff */
.title {
  height: 100vh;
  color: #fff;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;}


.title h1 {
    font-size: 130px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;

    line-height: 95%;
    font-weight: bold;
  }

.titletxt{
  font-size: 31px;
  font-family: 'Roboto', sans-serif;
  color: #E1E1E1;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 125%;
  }

.titlediv {
  width: 819px;
  position: absolute;
  margin-left: 10%;
  margin-right: 40%;
  margin-top: 200px;
  }


/* titlebutton */

.title .btn {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border: none;
    color: #000;
    padding: 15px 59px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }


.title .btn:hover {
    background-color: #C6C6C6;
  }

/* block1 */

.block1 {
  height: auto;
  color: #fff;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  }


.block1 h1 {
  font-size: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  text-align: center;
  line-height: 95%;
  font-weight: bold;
  margin-top:70px;
  }


/* Flex1 line */

.flx1 {
  display: flex;
  justify-content: center;
  height: 320px;
  margin-top:60px;
}

/* Flex1 block */

.todopos {
  margin:0 60px;
  padding:0;
  width: 498px;
  /* background-color: #fafafa; */
}

.flx1 .todopos h1 {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  color: #0002C9;
  transform: translateY(-80%);
  font-weight: bold;
  line-height: 0;
  display: inline-block;
  position: relative;
}

.flx1 .todopos h2 {
  display: inline-block;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #2D2D2D;
  font-weight: regular;
  position: absolute;
  margin-left: 30px;
  margin-top: 32px;
  line-height: 124.5%;
}

.txt {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 27px;
  color: #797979;
  line-height: 135.6%;
  position: absolute;
  display: inline-block;
  width: 392px;
}

.flx1 .txt{
  margin: 140px 30px;
}

/* Must have list*/

.mhpos {
  height: 200px;
  margin: 100px 174px;
}

.mh {
  margin: 5px;
}

.mhposs h1 {
  font-size: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  text-align: center;
  line-height: 95%;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 70px;
  }

.mhpos h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #2D2D2D;
  font-weight: regular;
  line-height: 124.5%;
}

.mhposdes {
  font-weight: bolder;
  position: absolute;
  margin-left: 88px;
  margin-top: 20px;
  display: inline-block;
}

.mhposdes .txt{
    margin-top: 16px;
    width: 831px;
}

/* flx2 line */

.flx2 {
  display: flex;
  justify-content: center;
  height: 750px;
  margin-top: 128px;
}

.bonpos {
  margin: 0 76px;
  padding: 0;
  width: 360px;
  height: 688px;
  box-shadow: 0px 28px 66px 0px rgba(0,0,0,0.18);
  /* background-color: #fafafa; */
}

.bonposimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 246px;
  font-size: 64px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-weight: bold;
}

.bonposimgdes {
  position: relative;
  top: 55%;
  margin: auto;
  text-align:center;
  transform: translateY(-80%);
}

.bonpos .txt {
  width: 328px;
  padding-left: 21px;
  padding-top: 35px;
}

.bonpos .btn {
  font-family: 'Roboto', sans-serif;
  background-color: #002C9C;
  border: none;
  color: #fff;
  padding: 10px 59px;
  margin-left: 15%;
  margin-top: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  }

  .bonpos .btn:hover {
      background-color: #5571BA;
    }

#bon1 {
  background-image: url(../img/restore.png);
}

#bon2 {
  background-image: url(../img/metro.png);
}

#bon3 {
  background-image: url(../img/asos.png);
}
